
      <h3>Welcome to, iVolunteer </h3>
        <p>Over at iVolunteer &copy;, we know you want to do lots of good in the world so we get you access to the orginzations you love so you can spend more time volunteering & less time searching</p>
       
            <%# if there is a current user, only show sign out, if not show them option to sign in or sign-up %>
