<%#  Listing of all Opportunities here %>
<%#  Using @orgs here %>


<% @orgs.each do |org| %>
<p><a href="/orgs/<%=org.id%>"> <%= org.name %> </a> :

<!--  Like/Unlike Section-->
    <%= octicon "heart" %>
    <%= org.get_likes.size %>
    Likes


</p>
<% end %>
