/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 commented out for bootstrap -Shahid
 //*= require_tree .
 //*= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap. -Shahid
@import "bootstrap";

body {
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

a {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

span {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
  overflow-x: hidden;
}

button,
input {
  outline: none !important;
  font-family: 'Merriweather', serif;
}

button {
  cursor: pointer;
}

main,
aside {
  padding: 50px 0 100px;
}

h1 {
  a {
    margin-left: 10px;
    font-size: 0.9em;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #555;
    text-decoration: none;
  }

  &:hover a {
    opacity: 1;
  }
}

.sidebar {
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #eee;

  header {
    margin-bottom: 20px;
  }
}

//responsive map styles
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text-white {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

a.hero-link {
  color: inherit !important;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none !important;
  margin-top: 20px;
  font-weight: 300;
}

// Gen Media Query 
@media (max-width: 767px) {
  nav.navbar .search-btn {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}

@media (max-width: 575px) {
  nav.navbar .container {
    width: 100%;
  }
}

//  NAVBAR
.navbar {
  background: #fff;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9998;
  border-bottom: 1px solid #ddd;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}

//  Navbar Media Query 
@media (max-width: 991px) {
  nav.navbar {

    .navbar-header,
    &::after {
      width: 100%;
    }

    &.active::after {
      width: calc(100% - 170px);
    }

    .search-area {
      font-size: 0.75em;
    }
  }
}

// HERO SECTION
section {
  &.hero {
    padding: 0;
    color: #fff;

    .container {
      padding: 200px 20px;
      position: relative;
    }

    h1 {
      line-height: 1.2em;
    }
  }
}

// Hero Section Media Query 
@media (max-width: 767px) {
  section.hero .container {
    padding: 150px 20px;
  }
}

// LATEST SECTION
.post-meta {
  margin: 10px 0;
  font-size: 0.8em;

  .date {
    text-transform: uppercase;
    font-weight: 400;

    &::after {
      display: none;
    }
  }
}

.post {
  p:not(.lead) {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  h3 {
    line-height: 1.1em;
    color: #222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 1rem;

    &:hover {
      color: #555;
    }
  }

  .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
  }

  .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }

  .title,
  .date,
  .views {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
  }

  .title i,
  .date i,
  .comments i,
  .views i {
    margin-right: 5px;
    font-size: 1.1em;
  }

  .title::after,
  .date::after,
  .comments::after,
  .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
  }

  .meta-last::after {
    display: none;
  }
}

// Latest Posts--- Media Query 
@media (max-width: 767px) {
  .post {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// FOOTER
footer.main-footer {
  background: #0e0e0e;
  padding: 100px 0 0;
  color: #fff;

  .contact-details {
    p {
      font-weight: 300;
      color: #fff;
      margin-bottom: 5px;
      font-size: 0.95em;
    }

    a {
      text-decoration: underline;
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    font-weight: 300;
    margin-bottom: 7px;

    &:hover,
    &:focus {
      color: #999;
    }
  }

  ul {
    margin-right: 30px;
  }

  .list-unstyled a {
    font-size: 0.95em;
  }

  .latest-posts {
    .image {
      max-width: 50px;
      padding: 4px;
      border: 2px solid #333;
      margin-right: 10px;
    }

    a {
      font-size: 0.95em;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }

    strong {
      display: block;
    }

    .date {
      font-size: 0.85em;
      color: #aaa;
    }
  }

  .copyrights {
    background: #090909;
    margin-top: 100px;
    padding: 20px 0;
    font-size: 0.9em;

    * {
      margin-bottom: 0;
    }
  }

  .social-menu {
    margin-top: 20px;

    li {
      padding: 0 5px;
    }
  }

  .date::after,
  .title::after {
    display: none !important;
  }
}

// Footer Media Query 
@media (max-width: 767px) {
  footer.main-footer {
    div[class*="col-"] {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .latest-posts>a {
      width: 100%;
      margin-bottom: 20px;
    }

    .copyrights div[class*="col-"] {
      margin-bottom: 20px;
      text-align: center !important;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

main.posts-listing {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;

  .post {
    margin-bottom: 50px;
  }

  .post-footer {
    font-size: 0.8em;
  }
}

.sidebar {
  &.search {
    .form-group {
      position: relative;
    }

    input {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: none;
      border-bottom: 1px solid #ddd;
      font-size: 0.95em;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      background: none;

      &::-moz-placeholder,
      &::-webkit-input-placeholder,
      &:-ms-input-placeholder {
        color: #aaa;
        font-family: 'Merriweather', serif;
      }
    }

    .submit {
      height: 40px;
      padding: 0;
      line-height: 40px;
      background: none;
      border: none;
      color: #555;
      font-size: 0.9em;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &.latest-posts {
    a {
      display: block;
      color: #555;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }

    .image {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      overflow: hidden;
      margin-right: 20px;
    }

    .item {
      margin-bottom: 20px;
    }

    strong {
      font-size: 0.95em;
      display: block;
      line-height: 1em;
    }

    .views,
    .comments {
      font-size: 0.8em;
      font-weight: 400;
      color: #bbb;
      margin-top: 10px;
    }

    .views i,
    .comments i {
      margin-right: 5px;
    }

    .views::after {
      content: '|';
      display: inline-block;
      margin: 0 7px;
      font-size: 0.9em;
      color: #ccc;
    }

    .comments::after {
      content: '|';
      display: inline-block;
      margin: 0 7px;
      font-size: 0.9em;
      color: #ccc;
      display: none;
    }
  }

  &.categories .item {
    background: #fafafa;
    padding: 10px;
    color: #777;
    font-weight: 700;

    &:nth-of-type(2n+2) {
      background: none;
    }

    a {
      color: inherit;
      font-size: 0.95em;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }

    span {
      font-size: 0.9em;
      color: #aaa;
    }
  }

  &.tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px 0;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;

    &:hover {
      background: #999;
      color: #fff;
      border-color: #999;
    }
  }
}

.blog-post {
  padding-left: 0;
  padding-right: 0;

  .post-footer {
    font-size: 0.8em;
  }

  .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px;
  }

  h1 {
    color: #444;
    line-height: 1.1em;

    &:hover {
      color: #444;
    }
  }

  .post-footer {
    margin-top: 20px;
  }

  .post-body {
    margin-top: 40px;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #333;
    }

    p {
      margin-bottom: 30px;

      &:not(.lead) {
        font-size: 1em;
        line-height: 1.7em;
        color: #555;
      }
    }
  }
}

blockquote.blockquote {
  font-size: 1.05em;
  line-height: 1.7em;
  border-color: #999;
  border: 1px solid #eee;
  border-left: 6px solid #eee;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;

  p {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 767px) {
  .posts-nav a {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .blog-post {
    .title::after {
      display: none !important;
    }

    .author {
      margin-bottom: 10px;
    }
  }
}